 <!DOCTYPE html>
 <html>
 	<head>
 		<title>ui Calculator</title>
    <style>
     p, input { font-family: monospace; }
     p { white-space: pre; }
    </style>
 	</head>

 	<body>

	 	<div id="app">
	    <p>x <input v-model="x"></p>
	    <p>y <input v-model="y"></p>
	    <p>---------------------</p>
	    <button class ="multiply" v-on:click= "multiply">multiply</button>
	    <button class ="divide" v-on:click= "divide">divide</button>
	    <p>= <span v-text="result"></span></p>
	  </div>
	  <div id="mydiv"></div>

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="logic.js"></script>
  	<script type="text/javascript">


		</script>

 	</body>
 </html>


